{% extends "base.html" %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}
{% load user_filters %}
  {% with card_header='Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались' card_body='' %}
    {% include 'users/includes/card.html' %}
  {% endwith %}
          <form method="post" action="{% url 'users:password_reset' %}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="form-group row my-3 p-3">
              <label for="id_email">
                Адрес электронной почты
                <span class="required text-danger">*</span>
              </label>    
              <input type="email" name="email" maxlength="254" class="form-control" required id="id_email">
            </div>
            {% with button='Сбросить пароль' %}
              {% include 'users/includes/button.html' %}
            {% endwith %}
{% endblock %}